body{
    background-color: white;
}

#img1{
    height: 10%;
    width: auto;
}

.img-responsive{
    height: 10%;
    width: auto;
    border-radius: 10px;
}

.text_images_and_result {
    background: #ffe3fe;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px grey;
}

.copy-right-footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}